* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Poppins';
  font-weight: 800;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

a:hover {
  
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.start {
  font-size: 1.5rem;
}

h1 {
  line-height: 1.4;
  font-size: 4rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: radial-gradient(circle, rgba(238,174,202,0.6533963927367823) 0%, rgba(148,187,233,0.5861695019804797) 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 20px;
}

.time-btn:hover {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.hide {
  opacity: 0;
}

.primary {
  color: #fff;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  background: radial-gradient(circle, rgba(238,174,202,0.6533963927367823) 0%, rgba(148,187,233,0.5861695019804797) 100%);
  box-shadow: -8px -8px 20px rgba(148,187,233,0.5861695019804797), 10px 7px 20px rgba(238,174,202,0.6533963927367823);
  border-radius: 30px;
  overflow: hidden;
}

.circle {
  background: linear-gradient(90deg, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}
